/* General styles
===========================================*/

* {
    box-shadow: none;
}
html,
body {
    overflow-x: hidden;
}
body {
    font-family: "Alegreya", Georgia, serif;
    font-weight: normal;
    color: #333;
    font-size: 1.75em;
    background: #f9f9f9;
    margin: 0px;
}

#about,
#portfolio,
#contact{
    padding-top: 55px;
    margin-top: 55px;
}


/* Navigation & Header
===========================================*/

.navbar {
    border: none;
    /*box-shadow: none;*/
    opacity: 0.99;
    margin: 0px 0 10px;
}

.navbar-nav li a {
    padding-top: 25px;
    padding-bottom: 25px;
    min-width: 100px;
}
.navbar-text {
    display: none;
}
.logo img {
    width: 110px;
}
.navbar-collapse {
    text-align: center;
}
/* About
===========================================*/



#about {
    min-height: 400px;
    margin: 0px 0 60px;
}
h1 {
    text-align: center;
    font-size: 3.25em;
}
.profile-photo {
    display: block;
    max-width: 20%;
    min-width: 170px;
    max-width: 300px;
    margin: 0 auto 10px;
    border-radius: 100%;
}
.intro {
    max-width: 750px;
    margin: 0 auto 0px;
}
.dropcap {
    font-size: 3.4em;
    display: block;
    float: left;
    width: .8em;
    height: .7em;
    line-height: 0.8;
    margin: 0;
}
/* Portfolio
===========================================*/

.thumbnail {
    border: none;
    height: 470px;
    overflow: hidden;
}
.pic-frame{
    height: 200px;
    overflow: hidden;
    text-align: center;
}
.project-picture{
    width: 100%;
    height: auto;
    -webkit-transition: all 3s; /* For Safari 3.1 to 6.0 */
    transition: all 3s;
}

.project-picture:hover{
    -ms-transform: scale(2,3); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Safari */
    transform: scale(1.1,1.1); /* Standard syntax */
}

.btn {
    background: none;
    box-shadow: none;
}
.btn-primary {
    background: #829aa8;
    border: solid 1px #829aa8;
}
#portfolio a {
    cursor: pointer;
}
/* Contact
===========================================*/

#contact {
    min-height: 500px;
    margin-top: 50px;
}
.icons {
    margin: 0 auto 0px;
    max-width: 160px;
    padding: 5px 0 20px;
}
.icons img {
    width: 50px;
}
/* Footer
===========================================*/

#footer {
    border-top: solid 2px;
    background: #1e1e1e;
    color: #606060;
    text-align: center;
    padding: 30px 0 70px;
}
#footer a {
    color: #606060;
}