/* General styles
===========================================*/
body {
    background: #f9f9f9;

    font-family: 'Alegreya', Georgia, serif;
    font-weight: normal;
    color: #333;
    font-size: 1.25em;
    margin: 0px;
}




/* Navigation & Header
===========================================*/
.navbar {
    border: none;
    background: none;
    box-shadow: none;
    margin: 10px 0 10px;
}

.logo img {
    width: 70px;
}

/* About
===========================================*/

#about {
    min-height: 500px;

    margin: 0px 0 ;

}

h1 {
  text-align: center;
  font-size: 3.25em; }

.profile-photo {
  display: block;
  max-width: 20%;
  min-width: 170px;
  max-width: 300px;
  margin: 0 auto 10px;
  border-radius: 100%; }

.intro {
  max-width: 750px;
  margin: 0 auto 0px; }

  .dropcap {
  font-size: 3.4em;
  display: block;
  float: left;
  width: .8em;
  height: .7em;
  line-height: 0.8;
  margin: 0; }

#contact {
    min-height: 500px;
}

/* Footer
===========================================*/
#footer {
  border-top: solid 2px;
  background: #1e1e1e;
  color: #606060;
  text-align: center;
  padding: 30px 0 70px; }

#footer a {
  color: #606060; }
